body {
  @apply transition;
  @apply text-purple-600 dark:text-gray-200;
  @apply bg-purple-50 dark:bg-gray-700;
}

* {
  @apply box-border;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  -webkit-overflow-scrolling: touch !important;
  overflow: auto !important;
  height: 100% !important;
}

input,
select {
  outline: none !important;
}
